# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Gui_swing\shop_ban_giay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
